<h1>Add Movie to <%= @list.name %></h1>

<%= form_with model: [@list, @bookmark], local: true do |form| %>
  <div class="mb-3">
    <%= form.label :movie_id, "Select Movie" %>
    <%= form.collection_select :movie_id, @movies, :id, :title, prompt: "Choose a movie", class: "form-select" %>
  </div>

  <div class="mb-3">
    <%= form.label :comment %>
    <%= form.text_field :comment, class: "form-control" %>
  </div>

  <%= form.submit "Add Movie", class: "btn btn-primary" %>
<% end %>
